<a href="https://colab.research.google.com/github/brunnabrito/projeto_m4_g4_resilia/blob/main/Projeto_M4_Grupo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto de encerramento do módulo 4: Pandas notebook

## Dados do Grupo

Grupo 4

* Brunna Brito
* Gabriel Kanarski
* Lucas Faria
* Samyr Ozibel
* Vinícius Costa Souto

**Descrição do Projeto:**

Você e a sua equipe foram escalados pela Agência Nacional de Petróleo e Gás Natural e Biocombustíveis (ANP) para realizar uma análise exploratória relacionada à série histórica de preço de venda da gasolina e do etanol. ANP é um centro de referência em dados e informações sobre a indústria de petróleo e gás natural:
* mantém o Banco de Dados de Exploração e Produção (BDEP);
* promove estudos sobre o potencial petrolífero e o desenvolvimento do
setor;
* recebe e torna públicas as notificações de descobertas;
* divulga as estatísticas oficiais sobre reservas, refino e produção de petróleo, gás e biocombustíveis no Brasil.

A ANP também realiza e divulga rotineiramente pesquisas sobre qualidade dos combustíveis e lubrificantes e sobre o comportamento dos preços desses produtos. Consolida e divulga informações sobre os mercados regulados e acerca dos investimentos em pesquisa, inovação e formação profissional voltadas para os setores regulados.
As fontes de dados que serão utilizadas no projeto estão disponíveis no portal dados.gov. Serão utilizados os arquivos dos meses de junho e julho de 2021 contendo a série histórica dos preços da gasolina e do etanol em todo o Brasil. Para baixar os arquivos, basta clicar nos meses que estão destacados anteriormente.
 
 As perguntas a serem respondidas são:

1) Como se comportaram o **preço** dos combustíveis durante os dois meses citados? Os valores do etanol e da gasolina tiveram uma tendência de queda ou diminuição?

2) Qual o **preço** médio da gasolina e do etanol nesses dois meses?

3) Quais os 5 **estados** com o **preço médio** da gasolina e do etanol mais caros?

4) Qual o **preço** médio da gasolina e do etanol por **estado**?

5) Qual o **município** que possui o menor **preço** para a gasolina e para o etanol?

6) Qual o **município** que possui o maior **preço** para a gasolina e para o etanol?

7) Qual a **região** que possui o maior valor médio da gasolina?

8) Qual a **região** que possui o menor valor médio do etanol?

9) Há alguma correlação entre o **valor** do combustível (gasolina e etanol) e a **região** onde ele é vendido?

10) Há alguma correlação entre o **valor** do combustível (gasolina e etanol) e a **bandeira** que vende ele?


O projeto deverá obrigatoriamente: 
* Utilizar Jupyter Notebook ou Colab;
* Realizar a limpeza dos dados;
* Realizar análise exploratória;
* O notebook utilizado na análise deve estar organizado, com descrições do passo a passo da análise em markdown, apresentação dos resultados e insights gerados;
* Levantar mais duas perguntas e respondê-las da forma que achar mais adequada.

## Importando as bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Carregando os arquivos

### Carregar os arquivos dispíveis na ANP

In [ ]:
jun = pd.read_csv("https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-06-gasolina-etanol.csv", delimiter = ";")
jun.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
1              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
2              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
3              N             AC  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4              N             AC  ...        R$ / litro                        BRANCA

[5 rows x 16 columns]

In [ ]:
jul = pd.read_csv("https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-07-gasolina-etanol.csv", delimiter = ";")
jul.head()

  Região - Sigla Estado - Sigla  ... Unidade de Medida                      Bandeira
0             NE             CE  ...        R$ / litro                      IPIRANGA
1             NE             CE  ...        R$ / litro                      IPIRANGA
2             NE             CE  ...        R$ / litro                      IPIRANGA
3             NE             CE  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.
4             NE             CE  ...        R$ / litro  PETROBRAS DISTRIBUIDORA S.A.

[5 rows x 16 columns]

### Unindo os dados

In [ ]:
df = pd.concat([jun, jul], ignore_index=True)

In [ ]:
df

      Região - Sigla  ...                      Bandeira
0                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
1                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
2                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
3                  N  ...  PETROBRAS DISTRIBUIDORA S.A.
4                  N  ...                        BRANCA
...              ...  ...                           ...
97581             SE  ...                        BRANCA
97582             SE  ...                        BRANCA
97583             SE  ...                        BRANCA
97584             SE  ...                    RIO BRANCO
97585             SE  ...                    RIO BRANCO

[97586 rows x 16 columns]

## Preparação e limpeza dos dados

### Conhecendo o dataset

Conhecendo os tipos dos dados

In [ ]:
df.shape

(97586, 16)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97586 entries, 0 to 97585
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Região - Sigla     97586 non-null  object
 1   Estado - Sigla     97586 non-null  object
 2   Município          97586 non-null  object
 3   Revenda            97586 non-null  object
 4   CNPJ da Revenda    97586 non-null  object
 5   Nome da Rua        97586 non-null  object
 6   Número Rua         97529 non-null  object
 7   Complemento        19711 non-null  object
 8   Bairro             97327 non-null  object
 9   Cep                97586 non-null  object
 10  Produto            97586 non-null  object
 11  Data da Coleta     97586 non-null  object
 12  Valor de Venda     97586 non-null  object
 13  Valor de Compra    0 non-null      float64
 14  Unidade de Medida  97586 non-null  object
 15  Bandeira           97586 non-null  object
dtypes: float64(1), object(15)
memory usage: 11.9+ MB

### Selecionando as colunas necessárias para a análise e renomeando colunas

In [ ]:
df = df[['Região - Sigla', 'Estado - Sigla', 'Município', 'Produto', 'Valor de Venda', 'Bandeira']]
df = df.rename(columns={'Região - Sigla': 'Região', 'Estado - Sigla': 'Estado', 'Valor de Venda': 'Valor'})
df

      Região Estado  ...  Valor                      Bandeira
0          N     AC  ...   6,89  PETROBRAS DISTRIBUIDORA S.A.
1          N     AC  ...   6,89  PETROBRAS DISTRIBUIDORA S.A.
2          N     AC  ...    6,1  PETROBRAS DISTRIBUIDORA S.A.
3          N     AC  ...   6,89  PETROBRAS DISTRIBUIDORA S.A.
4          N     AC  ...   6,89                        BRANCA
...      ...    ...  ...    ...                           ...
97581     SE     ES  ...   5,87                        BRANCA
97582     SE     ES  ...   4,99                        BRANCA
97583     SE     ES  ...   5,87                        BRANCA
97584     SE     MG  ...  4,599                    RIO BRANCO
97585     SE     MG  ...  6,199                    RIO BRANCO

[97586 rows x 6 columns]

### Unindo os dois tipos de gasolina

In [ ]:
df['Produto'][df['Produto'].str.contains('GASOLINA ADITIVADA')] = 'GASOLINA'
df

      Região Estado  ...  Valor                      Bandeira
0          N     AC  ...   6,89  PETROBRAS DISTRIBUIDORA S.A.
1          N     AC  ...   6,89  PETROBRAS DISTRIBUIDORA S.A.
2          N     AC  ...    6,1  PETROBRAS DISTRIBUIDORA S.A.
3          N     AC  ...   6,89  PETROBRAS DISTRIBUIDORA S.A.
4          N     AC  ...   6,89                        BRANCA
...      ...    ...  ...    ...                           ...
97581     SE     ES  ...   5,87                        BRANCA
97582     SE     ES  ...   4,99                        BRANCA
97583     SE     ES  ...   5,87                        BRANCA
97584     SE     MG  ...  4,599                    RIO BRANCO
97585     SE     MG  ...  6,199                    RIO BRANCO

[97586 rows x 6 columns]

### Convertendo os valores para float

In [ ]:
df['Valor'] = df['Valor'].apply(lambda x: float(x.replace(',', '.')))
df

      Região Estado  ...  Valor                      Bandeira
0          N     AC  ...  6.890  PETROBRAS DISTRIBUIDORA S.A.
1          N     AC  ...  6.890  PETROBRAS DISTRIBUIDORA S.A.
2          N     AC  ...  6.100  PETROBRAS DISTRIBUIDORA S.A.
3          N     AC  ...  6.890  PETROBRAS DISTRIBUIDORA S.A.
4          N     AC  ...  6.890                        BRANCA
...      ...    ...  ...    ...                           ...
97581     SE     ES  ...  5.870                        BRANCA
97582     SE     ES  ...  4.990                        BRANCA
97583     SE     ES  ...  5.870                        BRANCA
97584     SE     MG  ...  4.599                    RIO BRANCO
97585     SE     MG  ...  6.199                    RIO BRANCO

[97586 rows x 6 columns]

### Verificando a existência de dados nulos na seleção

verificar a quantidade de missing em cada coluna após a transformação

In [ ]:
df.isna().sum()

Região       0
Estado       0
Município    0
Produto      0
Valor        0
Bandeira     0
dtype: int64

* Não existem valores nulos para serem removidos ou tratados

## Análise exploratória

In [ ]:
df.describe()

              Valor
count  97586.000000
mean       5.384929
std        0.715136
min        3.097000
25%        4.990000
50%        5.550000
75%        5.899000
max        7.097000

In [ ]:
df['Valor'].describe()

count    97586.000000
mean         5.384929
std          0.715136
min          3.097000
25%          4.990000
50%          5.550000
75%          5.899000
max          7.097000
Name: Valor, dtype: float64

In [ ]:
df.groupby('Produto')['Valor'].mean().round(3)

Produto
ETANOL      4.582
GASOLINA    5.797
Name: Valor, dtype: float64

## Respondendo às questões propostas

### ***01: Brunna***

1) Como se comportaram o preço dos combustíveis durante os dois meses citados? Os valores do etanol e da gasolina tiveram uma tendência de queda ou diminuição?

2) Qual o preço médio da gasolina e do etanol nesses dois meses?

In [ ]:
df.groupby('Produto')['Valor'].mean().round(3)

Produto
ETANOL      4.582
GASOLINA    5.797
Name: Valor, dtype: float64

3) Sugestão de pergunta

### ***02: Gabriel***

3) Quais os 5 estados com o preço médio da gasolina e do etanol mais caros?

4) Qual o preço médio da gasolina e do etanol por estado?

### ***03: Lucas***

5) Qual o município que possui o menor preço para a gasolina e para o etanol?

6) Qual o município que possui o maior preço para a gasolina e para o etanol?

### ***04: Samyr***

7) Qual a região que possui o maior valor médio da gasolina?

8) Qual a região que possui o menor valor médio do etanol?

### ***05: Vinicius***

9) Há alguma correlação entre o valor do combustível (gasolina e etanol) e a região onde ele é vendido?

In [ ]:
df_group_reg = df.groupby('Região')
data_1 = df_group_reg['Valor'].mean().round(2)
data_1

Região
CO    5.35
N     5.69
NE    5.63
S     5.53
SE    5.22
Name: Valor, dtype: float64

In [ ]:
data_2 = round(df['Valor'].mean(), 2)
data_2

5.38

In [ ]:
plt.scatter(ser, data_1)
plt.title('Gráfico de Dispersão entre data1 e data2')
plt.show()

NameError: ignored

10) Há alguma correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele?

In [ ]:
df_group_band = df.groupby('Bandeira')
df_group_band['Valor'].describe().round(2)

                                count  mean   std   min   25%   50%   75%   max
Bandeira
ACOL                              9.0  5.65  0.77  4.60  4.70  6.10  6.10  6.30
ALESAT                         2046.0  5.47  0.68  3.75  5.00  5.58  5.99  6.70
AMERICANOIL                      89.0  5.45  0.25  5.00  5.38  5.55  5.65  5.75
ATEM' S                         504.0  5.36  0.54  4.18  5.00  5.53  5.79  6.97
ATLÂNTICA                        70.0  5.66  0.40  4.68  5.64  5.79  5.95  6.09
BRANCA                        35927.0  5.23  0.73  3.10  4.70  5.40  5.79  7.00
CHARRUA                         104.0  6.08  0.22  5.60  5.90  6.09  6.23  6.60
CIAPETRO                        141.0  5.22  0.67  4.00  4.47  5.58  5.75  6.33
DIBRAPE                          28.0  5.30  0.24  4.55  5.30  5.36  5.40  5.70
DISLUB                          226.0  5.70  0.43  4.78  5.28  5.80  6.00  6.47
D`MAIS                           12.0  5.00  0.67  4.00  4.17  5.40  5.45  5.57
EQUADOR                         336.0  5.78  0.55  4.19  5.55  5.85  6.16  6.55
ESTRADA                           3.0  5.06  0.67  4.29  4.84  5.39  5.44  5.49
FAN                              62.0  5.76  0.45  4.29  5.29  5.89  6.00  6.29
FEDERAL ENERGIA                  51.0  5.34  0.50  4.49  4.99  5.46  5.86  5.98
IDAZA                           231.0  5.29  0.82  3.80  4.36  5.77  5.90  6.30
IPIRANGA                      16965.0  5.43  0.71  3.30  5.00  5.60  5.90  7.10
LARCO                            21.0  5.56  0.49  4.85  4.95  5.85  5.95  5.95
MASUT DISTRIBUIDORA              74.0  5.50  0.74  4.26  4.58  6.02  6.11  6.18
MAXSUL                           55.0  5.48  0.50  4.17  5.50  5.53  5.69  6.28
PELIKANO                          6.0  4.92  0.59  4.10  4.47  5.30  5.30  5.30
PETROBAHIA                       70.0  5.78  0.56  4.59  5.20  5.99  6.28  6.48
PETROBRAS DISTRIBUIDORA S.A.  20632.0  5.54  0.68  3.70  5.19  5.70  6.00  7.10
PETROSERRA                       24.0  5.38  0.50  4.51  4.83  5.53  5.83  5.83
PETROX DISTRIBUIDORA            159.0  5.49  0.34  4.76  5.08  5.58  5.78  6.00
POTENCIAL                        59.0  5.28  0.62  4.10  5.24  5.32  5.79  6.29
RAIZEN                        16254.0  5.42  0.72  3.55  4.99  5.60  5.97  7.00
RAIZEN MIME                     521.0  5.41  0.29  4.50  5.05  5.50  5.60  6.00
REJAILE                          22.0  5.43  0.33  4.80  5.21  5.59  5.66  5.73
RIO BRANCO                      109.0  5.46  0.81  4.00  4.60  5.97  6.10  6.50
RODOIL                          379.0  5.72  0.52  4.08  5.48  5.90  6.10  6.88
ROYAL FIC                        33.0  5.28  0.63  4.30  4.49  5.60  5.79  5.80
RUFF C.J.                        10.0  4.86  0.66  4.10  4.28  4.85  5.40  5.60
RZD DISTRIBUIDORA                24.0  5.03  0.59  4.15  4.44  5.27  5.36  5.79
SABBÁ                          1042.0  5.63  0.55  4.10  5.29  5.70  6.00  6.80
SETTA DISTRIBUIDORA             119.0  5.45  0.36  4.69  5.09  5.60  5.70  5.89
SIMARELLI                       102.0  5.31  0.73  4.09  4.40  5.70  5.97  6.17
SMALL                            21.0  5.35  0.68  4.30  4.50  5.70  5.80  6.00
SP                              300.0  5.73  0.36  4.90  5.37  5.79  5.99  6.40
STANG                           137.0  5.09  0.47  4.15  4.77  5.29  5.45  5.65
SUL COMBUSTÍVEIS                 36.0  6.07  0.18  5.40  6.00  6.10  6.20  6.38
TAURUS                          164.0  5.20  0.74  3.70  4.46  5.44  5.86  6.32
TDC DISTRIBUIDORA                94.0  5.57  0.43  4.76  5.10  5.58  5.85  6.40
TEMAPE                           53.0  5.45  0.31  4.90  5.18  5.50  5.78  5.95
TOBRAS                           24.0  5.57  0.57  4.70  4.99  5.93  6.10  6.20
TORRAO                           60.0  4.86  0.63  4.00  4.10  5.20  5.35  5.90
TOTAL BRASIL                    115.0  5.33  0.76  3.85  4.60  5.56  6.00  6.35
UNI                              21.0  4.94  0.53  4.17  4.24  5.27  5.33  5.39
WALENDOWSKY                      27.0  5.32  0.24  5.00  5.00  5.40  5.46  5.62
WATT                             15.0  5.45  0.85  4.35  4.53  5.99  6.08  6.38